/* Write your CSS here */
.login-button {
  background-color: #f8fafc;
  color: #303150;
  border-radius: 8px;
  font-family: 'Roboto';
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  border: none;
}
